# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# 忽略桌面上的大文件夹
PCL*/
ggggggg/

# 忽略快捷方式和临时文件
*.lnk
*.url
*.tmp
*.Tnk
desktop.ini
ntuser.*
ahcre/
